*{
	
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
    background-color: #000;
}

head{
	align-items: center;
}
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #ffffff;
    padding: 20px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #7A7A7A;
    color: #fff;
}

li a:hover:not(.active) {
    background-color: #fff;
    color: #000;
    
table, th, td{
    border-collapse: collapse;
    border: 1px solid #ffffff;
}
tr:hover{
    background-color: #f5f5f5;
}
